<head>
  <link rel="stylesheet" href="./public/css/styleHeader.css">
</head>

<header class="p-3 mb-1 border-bottom">
  

  <div class="container ">
    <div class="row">
      <div class="col-4">
      <a href="/" class="d-flex align-items-center mb-1 mb-lg-0 link-body-emphasis text-decoration-none">
        
      </a> 
      <a href="./pacientes"> <button id="readMore_btn">Pacientes </button></a>
      <a href="./intervenciones"> <button id="readMore_btn">Intervenciones </button></a>
      
      
  </div>
  <div class="col-6">

  </div>
  <div class="col-2">
    <div class="dropdown text-end color1" id="per">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle color1" data-bs-toggle="dropdown" aria-expanded="false"></a>         
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="./chglogin">Cambio contraseña</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" onclick="logout()"><i class="" onclick="logout()"></i> Cerrar sesión</a></li>
        </ul>
    </div>
  </div>
</div>
</header>  
    
<script>


function chglogin()
{
   
  
    jstring = '{}';
  
 
   
	$.ajax({
			  url : "./robiotics/usuarios/chglogin",
			  type : 'POST',
			  
        data : jstring,
       
        contentType: 'application/json',

			  success : function(json) {
          mensaje = json.message;
          json = json.data;
          if (json)
          { 
                window.location.href = '/'
          }
					
			   },
			  error : function(xhr, status) {
					// alert('Disculpe, existió un problema');
				},
			  complete : function(xhr, status) {
			}
  });

}

function logout()
{
   
    var object = {};
 //  formData.forEach(function(value, key){
 //      object[key] = value;
 //   });
 jstring = '{ }';
   
	$.ajax({
			  url : "./robiotics/usuarios/logout",
			  type : 'POST',
			  /// processData: false,
		    /// data: formData, // JSON.stringify(formData), 
        data : jstring,
        /// mimeType:'multipart/form-data',
		    //contentType: 'text/html; charset=UTF-8',
        /// contentType: false,
        contentType: 'application/json',

			  success : function(json) {
          mensaje = json.message;
          json = json.data;
          if (json)
          { 
                window.location.href = '/'
          }
					
			   },
			  error : function(xhr, status) {
					// alert('Disculpe, existió un problema');
				},
			  complete : function(xhr, status) {
			}
  });

}


$(function(){

  jstring = '{}';
	$.ajax({
			  url : "./robiotics/usuarios/datos",
			  type : 'POST',
			  data : jstring,
        contentType: 'application/json',

			  success : function(json) {
          mensaje = json.message;
          json = json.data;
          $("#per")[0].children[0].innerText = json.user; 
					
			   },
			  error : function(xhr, status) {
					// alert('Disculpe, existió un problema');
				},
			  complete : function(xhr, status) {
			}
  });
});


</script>   